<div class="container">
  <h2>Crear Persona</h2>
  <form [formGroup]="personaForm" (ngSubmit)="guardar()">
    <div class="formGroup">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" class="form-control">
    </div>
    <div class="formGroup">
      <label>Apellido</label>
      <input type="text" formControlName="apellido" class="form-control">
    </div>
    <div class="formGroup">
      <label>edad</label>
      <input type="number" formControlName="edad" class="form-control">
    </div>
    <div class="formGroup">
      <label>Pais</label>
      <select name="pais" id="pais" formControlName="pais" class="form-control">
        <option [ngValue]="item" *ngFor="let item of paises"> {{item.nombre}} </option>
      </select>
    </div>
    <div class="formGroup">
      <label>Estado</label>
      <select name="estado" id="estado" formControlName="estado" class="form-control">
        <option [ngValue]="item" *ngFor="let item of estados"> {{item.nombre}} </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-2" [disabled]="personaForm.invalid ">Guardar</button>
  </form>
  <!-- <button (click)="navPersona()" class="btn btn-primary mt-2">Lista de personas</button> -->
</div>
<div class="table-responsive container">
  <h2>Personas Registradas</h2>
  <table class="table  table-hover">
    <thead class="table-primary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Pais</th>
        <th scope="col">Estadoo</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of personas">
        <td scope="row"> {{item.id}} </td>
        <td scope="row"> {{item.nombre}} </td>
        <td scope="row"> {{item.apellido}} </td>
        <td scope="row"> {{item.edad}} </td>
        <td scope="row"> {{item.pais.nombre}} </td>
        <td scope="row"> {{item.estado.nombre}} </td>
        <td scope="row">
          <button type="Borrar" class="btn btn-info" (click)="editar(item)">Editar</button>
          <button type="Borrar" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>

        </td>
      </tr>
    </tbody>
  </table>

</div>
<router-outlet></router-outlet>